
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Extra+Condensed:wght@100;300;400;500;600;700&display=swap');
html
{
  scroll-behavior: smooth;
}
body{
  background-color: #0D0817;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a
{
    text-decoration: none;
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
nav{
    height: 6rem;
    width: 100vw;
    background: transparent;
    display: flex;    
    z-index: 10;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    /* padding: 0 0.7vw; */
    justify-content:space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-left: 15%;
}
.nav-links li a{
    text-decoration: none;
    /* margin: 0 0.7vw; */
}

.nav-links li {
    position: relative;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}
video {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	object-fit:fill;
	height: 90%;
  }
  .brand{
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';	
}
  .logo
  {
    display: flex;
    align-items: center;
    margin-left: 4%;
  }
	.brand:hover
	{
	text-decoration: none;
	color: white;
	}
    .navbtn-home{
        width: 81px;
      height: 41px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      color: #FFFFFF;
        text-shadow: 0 0 3px #FFFFFF;
      text-decoration: none;
      }
      .navbtn{
        width: 81px;
      height: 41px;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 40px;
      color: rgba(255, 255, 255, 0.5);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-decoration: none;
      transition: 0.5s all ease-in-out;
      font-family: 'Poppins';
      }
      .navbtn:hover{
        color: #FFFFFF;
        text-shadow: 0 0 3px #FFFFFF;
        text-decoration: none;
        transform: scale(1.5);
      }
      
      .navbtn-home:hover{
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .line span 
      {
        font-weight: 600;
      font-size: 20px;
      font-family: 'Poppins';
      font-style: normal;
      
      }
      .read
      {
      color: #7900E0;
      margin-left: 3.3%;
      margin-top: 0%;
      font-family: 'Poppins';
      font-style: normal;
      }
      
      .hirebtn
      {
        font-style: normal;
        font-family: 'Poppins';
        margin-left: 3.2%;
        width: 170px;
      height: 50px;
      font-size:150% ;
      color: #FFFFFF;
      margin-top: 0.5%;
      margin-bottom: 5%;
      background: #7900E0;
          border-radius: 10px;
      border: transparent;
      margin-top: 3%;
      box-shadow: 0 0 20px #7900E0;  
    }
    .hirebtn:hover
    {
            background: transparent;
            color: #7900E0;
            cursor: pointer;
    }
      .abdul
      {
        background: #000000;
        background: linear-gradient(to top, #000000 0%, #7900E0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      display: flex;
      margin-left: 3.3%;
      margin-top: 1%;
      font-family: 'Sofia Sans Extra Condensed', sans-serif;
      font-weight: 800;
      font-size: 90px;
      }
      .mannan
      {
        display: flex;
        margin-left: 3.3%;
        background: #000000;
        background: linear-gradient(to bottom, #000000 0%, #7900E0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
        font-weight: 800;
        font-size: 90px;
      margin-top: -1%;
      }
      .line
      {
      display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 38px;
      color: #FFFFFF;
      margin-top: 2%;
      }
      .line-v
      {
       
        display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 38px;
      color: #FFFFFF;
      margin-top: -0.5%;
      }
      .portfolio
      {
        margin-bottom: 25%;
      }
      .portfolio-heading
      {
      text-align: center;
      font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      color: #FFFFFF;
      line-height: 500%;
      margin-bottom: 5%;
      }
      .GraphicDesign
      {
        width: 18%;
      box-sizing: border-box;
      background: #7900E0;
      border: transparent;
      border-radius: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 20px;
      font-weight: 700;
      line-height: 60px;
      box-shadow: 0 0 30px #7900E0;  
    }
    .gd
    {
      color: #FFFFFF;
    }
    .gd:hover
    {
      color: #7900E0;
    }
    .GraphicDesign:hover
    {
        background: transparent;
        color: #7900E0;
        cursor: pointer;
    }
      .portfolioButtons
      {
        display: flex;
        align-items: center;
        justify-content:center;
      }
      .lineDesign
      {
        box-sizing: border-box;
        background: transparent
      }
      .sline
      {
      width: 300px;
      display: block;
      border: 2px solid #FFFFFF;
      transform: rotate(90.09deg);
      }
      .showcase
      {
        margin-bottom: 5%;
      }
      .designHeading
      {
        font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      color: #050C22;
      }
      .image-container
      {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 10px;
        transition: transform .4s;
      }
      .image-container:hover
      {
        transform: scale(1.1); 
      }
      .image
      {
        height: auto;
        width: 90%;
        overflow: hidden;
        cursor: pointer;
      }
      .image:hover
      {
        box-shadow: 0 0 40px #7900E0;
      }
      .image img
      {
        height: auto;
      width: 100%;
      border: 8px solid #2D0453;
      border-radius: 20px;
      object-fit: cover;
      }
      
      .popup-image
      {
        position: fixed;
        top: 0;;left: 0;
        background: rgba(0, 0, 0, .9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
      }
      /* X sign img */
      .popup-image span
      {
      position: absolute;
      top: 0;right: 10px;
      font-size: 60px;
      font-weight: bolder;
      color: #fff;
      cursor: pointer;
      z-index: 100;
      }
      .popup-image img
      {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      border: 5px solid #2D0453;
      border-radius: 5px;
      width: 500px;
      height: auto;
      object-fit: cover;
      }
      .viewbtn
      {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4%;
      }
      .viewMore
      {
      width: 200px;
      height: 60px;
      background: #7900E0;
      border-radius: 8px;
      border-color: transparent;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
      box-shadow: 0 0 20px #7900E0;  
    }
      .viewMore:hover
      {
       background: transparent;
       color: #7900E0;
      }


.about
{
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.passport-pic img
{
width: 85%;

}
.about-heading
{
  margin-top: 3%;
  font-family: 'Leiko';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  color: #FFFFFF;
}
.about-lines
{
font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 20px;
color: #FFFFFF;
line-height: 1.3;

}
.phone-about-lines
{
  display: none;
}
.Expertise-sections
{
margin-bottom: 8%;
  

box-shadow: 0 0 30px #7900E0;
border-radius: 46px;
}
.expertise-heading
{
    text-align: center;
      font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      color: #FFFFFF;
      line-height: 500%;
}
.expertise
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.expertise-head
{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 54px;
color: #FFFFFF;
  list-style-type: none;
  margin-left: -10%;
}
.expertise-list
{
    margin-bottom: 45%;
}
.points
{
    list-style-type: disc;
  margin-top: 4%;
  font-size: 18px;
  font-family: 'Poppins';
  font-style: normal;
color: #FFFFFF;
}
.softwares
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.softwares_head
{ 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #FFFFFF;
  list-style-type: none;
  margin-bottom: 3%;
  }
  .softwarepic
  {
     width: 30%;
}
  .software-list
  {
    margin-top: 1%;
  }
  .soft_points
{
  margin-top: 4%;
  margin-left: 0%;
  font-size: 20px;
  font-family: 'Poppins';
  font-style: normal;
  color: #FFFFFF;
}
.contact-section
{
  margin-top: 10%;
  background: rgba(0, 0, 0, 0.5);
}
.contact-head
{
   margin-left: 4%;
font-family: 'Leiko';
font-style: normal;
font-weight: 400;
font-size: 50px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 3%;
}
.c-icons
{
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --link-size: 64px;
  --trans-props: all 0.3s ease;
}

.wrapper,
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

/*** Containers and icons ***/

.social-icon {
  display: flex;

  position: relative;
  overflow: hidden; /* Trim branded overlays */

  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;

  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);

  text-decoration: none;

  transition: var(--trans-props);
}

.social-icon i {
  margin: auto; /* Perfect centering thanks to parental flex */

  font-size: 24px;
  color: hsl(212, 16%, 48%);

  z-index: 1; /* Make sure icons will be on top */

  transition: var(--trans-props);
}

/*** Branded overlays from the bottom ***/

.social-icon:after {
  content: "";

  width: var(--link-size);
  height: var(--link-size);

  position: absolute;

  transform: translate(0, var(--link-size));

  border-radius: 50%;
  transition: var(--trans-props);
}

.social-icon.facebook:after {
  background-color: rgba(66 103 178);
}
.social-icon.linkedin:after
{
  background-color: #0072b1;
}
.social-icon.youtube:after
{
  background-color: #FF0000;
}
.social-icon.github:after {
  background-color: #24292e;
}

.social-icon.instagram:after {
  background-image: linear-gradient(
    to bottom left,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  );
}

/*** Animations ***/

.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
  /*  transform: scale(1.1); */
  color: #fff;
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}
.last
{
  margin-top: 3%;
  display: flex;
align-items: center;
justify-content: space-between;
}
.num
{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
color: #FFFFFF;
margin-left: 3.5%;
}
.m-btn
{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 4%;
}
.mail-btn
{
    font-family: 'Poppins';
  font-style: normal;
  width: 200px;
height: 50px;
font-size:20px ;
color: #FFFFFF;
margin-top: 3%;
margin-bottom: 5%;
background: #7900E0;
box-shadow: 0 0 20px #7900E0;
border-radius: 10px;
border: transparent;
}
#progress {
    position: fixed;
    bottom: 80px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 39px;
    color: #2D0453;
  }
  #progress-value:hover
  {
    background-color: #2D0453;
    color: #FFFFFF;
  }
 
.mail-btn:hover
      {
       background: transparent;
       color: #7900E0;
       cursor: pointer;
      }
      
/*Stying for small screens*/
@media screen and (max-width: 1068px)
{
  .about-lines
  {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 15.5px;
  color: #FFFFFF;
  line-height: 1.2;
  }
}
@media screen and (max-width: 900px){
    nav{
        height: 6rem;
        width: 100vw;
        background: transparent;
        display: flex;
        z-index: 10;
    }
    
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 45%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .burger-background
    {
        display:block;
        position: absolute;
        margin-top: 2.5%;
       margin-left: 90%;
        background: #7900E0;
        min-width: 6%;
        min-height: 10%;
        border-radius: 16px;
        box-shadow: 0 0 30px #7900E0;
    }
    .nav-links{
        position: fixed;
        background: #370066;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        margin-left: 0%;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 80% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }

    video {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        object-fit:fill;
        height: 70%;
      }
      .abdul
      {
        background: #000000;
        background: linear-gradient(to top, #000000 0%, #7900E0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      display: flex;
      margin-left: 3.3%;
      font-family: 'Sofia Sans Extra Condensed', sans-serif;
      font-weight: 750;
      font-size: 80px;
      margin-top: -2%;
      }
      .mannan
      {
        display: flex;
        margin-left: 3.3%;
        background: #000000;
        background: linear-gradient(to bottom, #000000 0%, #7900E0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
        font-weight: 750;
        font-size: 80px;
      margin-top: -1%;
      }
      .line
      {
      display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 38px;
      color: #FFFFFF;
      margin-top: -1.3%;
      
      }
      .line-v
      {
       
        display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 38px;
      color: #FFFFFF;
      margin-top: -1.3%;
      }
      .line span 
      {
        font-weight: 550;
      font-size: 17px;
      font-family: 'Poppins';
      font-style: normal;
      
      }
      .read
      {
      color: #7900E0;
      margin-left: 3.3%;
      margin-top: 0%;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      }
      
      .hirebtn
      {
        font-style: normal;
        font-family: 'Poppins';
        margin-left: 3.2%;
        width: 170px;
      height: 50px;
      font-size:150% ;
      color: #FFFFFF;
      margin-top: 0.5%;
      margin-bottom: 5%;
      background: #7900E0;
          border-radius: 10px;
      border: transparent;
      margin-top: 3%;
      }
      .hirebtn:hover
      {
        box-shadow: 0 0 40px #7900E0;
      }
      .portfolio
      {
        margin-bottom: 25%;
      }
      .portfolio-heading
      {
      text-align: center;
      font-family: 'Leiko';
      font-style: normal;
      font-weight: 550;
      font-size: 38px;
      color: #FFFFFF;
      line-height: 500%;
      margin-bottom: 15%;
      }
      .GraphicDesign
      {
        width: 40%;
      box-sizing: border-box;
      background: #7900E0;
      border: transparent;
      border-radius: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 19px;
      line-height: 60px;
      font-weight: 700;
      color: white;
      }
     
      .portfolioButtons
      {
        display: flex;
        align-items: center;
        justify-content:center;
      }
      .lineDesign
      {
        box-sizing: border-box;
        background: transparent
      }
      .sline
      {
      width: 300px;
      display: block;
      border: 2px solid #FFFFFF;
      transform: rotate(90.09deg);
      }
      .showcase
      {
        margin-bottom: 5%;
      }
      .designHeading
      {
        font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      color: #050C22;
      }
      .image-container
      {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 10px;
        transition: transform .4s;
      }
      .image-container:hover
      {
        transform: scale(1.1); 
      }
      .image
      {
        height: auto;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
      }
      .image:hover
      {
        box-shadow: 0 0 30px #7900E0;
      }
      .image img
      {
        height: auto;
      width: 100%;
      border: 5px solid #2D0453;
      border-radius: 20px;
      object-fit: cover;
      }
      
      .popup-image
      {
        position: fixed;
        top: 0;;left: 0;
        background: rgba(0, 0, 0, .9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
      }
      .popup-image span
      {
      position: absolute;
      top: 0;right: 10px;
      font-size: 60px;
      font-weight: bolder;
      color: #fff;
      cursor: pointer;
      z-index: 100;
      }
      .popup-image img
      {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        border: 5px solid #2D0453;
        border-radius: 5px;
        width: 450px;
        height: auto;
        object-fit: cover;
      }
      .viewbtn
      {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 6%;
      }
      .viewMore
      {
      width: 170px;
      height: 60px;
      background: #7900E0;
      border-radius: 4px;
      border-color: transparent;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
      }
     
      .about
      {
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10%;
      }
      .passport-pic
      {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .passport-pic img
      {
      width: 50%;
      
      }
      .about-heading
      {
        text-align: center;
        margin-top: 3%;
        font-family: 'Leiko';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        color: #FFFFFF;
      }
      .about-lines
      {
        margin-top: 3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 1.3;
      
      }

}
@media screen and (max-width: 770px){
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 45%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .burger-background
    {
        display:block;
        position: absolute;
        margin-top: 2.5%;
       margin-left: 90%;
        background: #7900E0;
        min-width: 7%;
        min-height: 10%;
        border-radius: 16px;
        box-shadow: 0 0 30px #7900E0;
    }
}
@media screen and (max-width: 660px){
    nav{
        height: 5rem;
        width: 100vw;
        background: transparent;
        display: flex;       
        z-index: 10;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 70%;
        top: 45%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .burger-background
    {
        display:block;
        position: absolute;
        margin-top: 2.5%;
       margin-left: 90%;
        background: #7900E0;
        min-width: 6%;
        min-height: 8%;
        border-radius: 16px;
        box-shadow: 0 0 30px #7900E0;
    }
    .hamburger div
    {
        height: 3px;
        width: 250%;
    }
    .nav-links{
        position: fixed;
        background: #7900E0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        margin-left: 0%;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
    video {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        object-fit:fill;
        height: 45%;
      }
      .brand{
       
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Poppins';	
    }
      .abdul
      {
        background: #000000;
        background: linear-gradient(to top, #000000 0%, #7900E0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      display: flex;
      margin-left: 3.3%;
      margin-top: -3%;
      font-family: 'Sofia Sans Extra Condensed', sans-serif;
      font-weight: 600;
      font-size: 35px;
      }
      .mannan
      {
        display: flex;
        margin-left: 3.3%;
        background: #000000;
        background: linear-gradient(to bottom, #000000 0%, #7900E0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
        font-weight: 600;
        font-size: 35px;
      
      }
      .line
      {
      display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 200;
      font-size: 13px;
      line-height: 38px;
      color: #FFFFFF;
      margin-top: -1.3%;
      }
      .line-v
      {
       
        display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 200;
      font-size: 13px;
      line-height: 38px;
      color: #FFFFFF;
      margin-top: -3.5%;
      }
      .line span 
      {
        font-weight: 400;
      font-size: 13px;
      font-family: 'Poppins';
      font-style: normal;
      
      }
      .read
      {
      color: #7900E0;
      margin-left: 3.3%;
      margin-top: 0%;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 8px;
      }
      
      .hirebtn
      {
        font-style: normal;
        font-family: 'Poppins';
        margin-left: 3.2%;
        width: 120px;
      height: 30px;
      font-size:100% ;
      color: #FFFFFF;
      margin-top: 0.5%;
      margin-bottom: 5%;
      background: #7900E0;
          border-radius: 4px;
      border: transparent;
      margin-top: 2%;
      }
      .hirebtn:hover
      {
        box-shadow: 0 0 20px #7900E0;
      }
      .portfolio
      {
        margin-bottom: 10%;
      }
      .portfolio-heading
      {
      text-align: center;
      font-family: 'Leiko';
      font-style: normal;
      font-weight: 550;
      font-size: 38px;
      color: #FFFFFF;
      line-height: 500%;
      margin-bottom: 1%;
      }
      .GraphicDesign
      {
        width: 40%;
        height: 50px;
      box-sizing: border-box;
      background: #7900E0;
      border: transparent;
      border-radius: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 13px;
      line-height: 1px;
      font-weight: 500;
      color: white;
      margin-top: 5%;
      box-shadow: 0 0 20px #7900E0;  
    }
      
      .portfolioButtons
      {
        margin-top: -5%;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
      }
      .lineDesign
      {
        box-sizing: border-box;
        background: transparent
      }
      .sline
      {
      width: 300px;
      display: none;
      border: 2px solid #FFFFFF;
      transform: rotate(90.09deg);
      }
      .showcase
      {
        margin-bottom: 5%;
        
      }
      .designHeading
      {
        font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      color: #050C22;
      }
      .image-container
      {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        transition: transform .4s;
        
      }
      .image-container:hover
      {
        transform: scale(1.1); 
      }
      .image
      {
        height: auto;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        
      }
      .image:hover
      {
        box-shadow: 0 0 20px #7900E0;
      }
      .image img
      {
        height: auto;
      width: 100%;
      border: 5px solid #2D0453;
      border-radius: 20px;
      object-fit: cover;
      }
      
      .popup-image
      {
        position: fixed;
        top: 0;;left: 0;
        background: rgba(0, 0, 0, .9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
      }
      .popup-image span
      {
      position: absolute;
      top: 0;right: 10px;
      font-size: 60px;
      font-weight: bolder;
      color: #fff;
      cursor: pointer;
      z-index: 100;
      }
      .popup-image img
      {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        border: 5px solid #2D0453;
        border-radius: 5px;
        width: 400px;
        height: auto;
        object-fit: cover;
      }
      .viewbtn
      {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .viewMore
      {
        width: 150px;
        height: 40px;
        background: #7900E0;
        border-radius: 4px;
        border-color: transparent;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        box-shadow: 0 0 20px #7900E0;  
    }
      
      
      .Expertise-sections
      {
      margin-bottom: 8%;
        
      
      box-shadow: 0 0 20px #7900E0;
      border-radius: 46px;
      }
      .expertise-heading
      {
          text-align: center;
            font-family: 'Leiko';
            font-style: normal;
            font-weight: 350;
            font-size: 42px;
            color: #FFFFFF;
            line-height: 500%;
      }
      .expertise
      {
        display: flex;
      }
      .expertise-head
      {
        font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 54px;
      color: #FFFFFF;
        list-style-type: none;
        margin-left: -8%;
      }
      .list2
      {
        margin-top: -6%;
      }
      .expertise-list
      {
          margin-bottom: 30%;
      }
      .points
      {
          list-style-type: disc;
        margin-top: 4%;
        font-size: 18px;
        font-family: 'Poppins';
        font-style: normal;
      color: #FFFFFF;
      }
      .softwares
      {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .softwares_head
      { 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        color: #FFFFFF;
        list-style-type: none;
        margin-bottom: 3%;
        }
        .softwarepic
        {
           width: 30%;
      }
        .software-list
        {
          margin-top: 1%;
        }
        .soft_points
      {
        margin-top: 4%;
        margin-left: 0%;
        font-size: 20px;
        font-family: 'Poppins';
        font-style: normal;
        color: #FFFFFF;
      }
      .contact-section
      {
        margin-top: 10%;
        background: rgba(0, 0, 0, 0.5);
      }
      .contact-head
      {
         margin-left: 4%;
      font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .phone
      {
          margin-top: 5%;
      }
      .links
      {
        margin-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .insta-links
      {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      color: #FFFFFF;
      }
      .m-btn
      {
          display: flex;
          align-items: center;
          justify-content: right;
          margin-right: 4%;
      }
      .mail-btn
      {
          font-family: 'Poppins';
        font-style: normal;
        width: 170px;
      height: 50px;
      font-size:15px ;
      color: #FFFFFF;
      margin-top: 3%;
      margin-bottom: 5%;
      background: #7900E0;
      box-shadow: 0 0 20px #7900E0;
      border-radius: 10px;
      border: transparent;
      }
      
}
@media screen and (max-width: 632px){
 
      .about-lines
      {
        margin-top: 3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      color: #FFFFFF;
      line-height: 1.3;
      
      }
      #progress
       {
        display: none;
       }
}
@media screen and (max-width: 580px){
   body
   {
    background-color: #000000;
   }
    nav{
        height: 6rem;
        width: 100vw;
        background: transparent;
        display: flex;
        z-index: 10;
        margin-top: -4%;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 65%;
        top: 47%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .burger-background
    {
        margin-top: 5%;
        min-width: 9%;
        min-height: 8%;
        border-radius: 14px;
    }
    .nav-links{
        position: fixed;
        background: #7900E0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        margin-left: 0%;
        margin-top: 4%;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
    video {
        display: none;
      }
      .brand{
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Poppins';	
    }
      .abdul
      {
        margin-top: 3%;
        background: #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      display: flex;
      margin-left: 3.3%;
      font-family:  sans-serif;
      font-weight: 700;
      font-size: 50px;
      }
      .mannan
      {
        background: #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      display: flex;
      margin-left: 3.3%;
      font-family:  sans-serif;
      font-weight: 700;
      font-size: 50px;
      }
      .line
      {
      display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 38px;
      color: #FFFFFF;
margin-top: 3%;
    }
      .line-v
      {
       
        display: flex;
      margin-left: 3.3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 38px;
      color: #FFFFFF;
margin-top: 0%;
    }
      .line span 
      {
        font-weight: 600;
      font-size: 17px;
      font-family: 'Poppins';
      font-style: normal;
      
      }
      .read
      {
      color: #7900E0;
      margin-left: 3.3%;
      margin-top: -2%;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 6px;
      display: none;
      }
      
      .hirebtn
      {
        font-style: normal;
        font-family: 'Poppins';
        margin-left: 3.2%;
        width: 180px;
      height: 50px;
      font-size:20px ;
      color: #FFFFFF;
      margin-top: 0.5%;
      margin-bottom: 5%;
      background: #7900E0;
          border-radius: 9px;
      border: transparent;
      margin-top: 4%;
      font-weight: 500;
      }
    
      .portfolio
      {
        margin-bottom: 6%;
      }
      .portfolio-heading
      {
      text-align: center;
      font-family: 'Leiko';
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      color: #FFFFFF;
      line-height: 500%;
      margin-bottom: 1%;
      }
      .GraphicDesign
      {
        width: 34%;
        height: 50px;
      box-sizing: border-box;
      background: #7900E0;
      border: transparent;
      border-radius: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 18px;
      line-height: 1px;
      font-weight: 500;
      color: white;
      margin-top: 6%;
    
    }
    
      .portfolioButtons
      {
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
      }
      .lineDesign
      {
        box-sizing: border-box;
        background: transparent
      }
      .sline
      {
      width: 200px;
      display: none;
      border: 2px solid #FFFFFF;
      transform: rotate(90.09deg);
      }
      .showcase
      {
        margin-bottom: 5%;
        
      }
      .designHeading
      {
        font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      color: #050C22;
      }
      .image-container
      {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: transform .4s;
        
      }
      .image-container:hover
      {
        transform: scale(1.1); 
      }
      .image
      {
        height: auto;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        
      }
      .image:hover
      {
        box-shadow: 0 0 30px #7900E0;
      }
      .image img
      {
        height: auto;
      width: 100%;
      border: 3px solid #2D0453;
      border-radius: 20px;
      object-fit: cover;
      }
      
      .popup-image
      {
        position: fixed;
        top: 0;;left: 0;
        background: rgba(0, 0, 0, .9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
      }
      .popup-image span
      {
      position: absolute;
      top: 0;right: 10px;
      font-size: 60px;
      font-weight: bolder;
      color: #fff;
      cursor: pointer;
      z-index: 100;
      }
      .popup-image img
      {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        border: 5px solid #2D0453;
        border-radius: 5px;
        width: 400px;
        height: auto;
        object-fit: cover;
      }
      .viewbtn
      {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .viewMore
      {
        width: 150px;
        height: 40px;
        background: #7900E0;
        border-radius: 4px;
        border-color: transparent;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
      }
      
      .about
      {
       
        background: #2B2B2B;
        margin-top: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
border-radius: 10px;
        margin-bottom: 10%;
      }
      .passport-pic
      {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -13%;
      }
      .passport-pic img
      {
        -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
      width: 50%;
      }
      .about-heading
      {
        text-align: center;
        margin-top: 3%;
        font-family: 'Leiko';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        color: #FFFFFF;
      }
      .about-lines
      {
        display: none;
      }
      .phone-about-lines
      {
        display: block;
        text-align: center;
        margin-top: 3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      line-height: 1.5;
      margin-bottom: 15%;
      }
      .Expertise-sections
      {
    
      display: none;
      }
      .expertise-heading
      {
          text-align: center;
            font-family: 'Leiko';
            font-style: normal;
            font-weight: 350;
            font-size: 42px;
            color: #FFFFFF;
            line-height: 500%;
      }
      .expertise
      {
        display: flex;
      }
      .expertise-head
      {
        font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 54px;
      color: #FFFFFF;
        list-style-type: none;
        margin-left: -8%;
      }
      .list2
      {
        margin-top: -6%;
      }
      .expertise-list
      {
          margin-bottom: 30%;
      }
      .points
      {
          list-style-type: disc;
        margin-top: 4%;
        font-size: 18px;
        font-family: 'Poppins';
        font-style: normal;
      color: #FFFFFF;
      }
      .softwares
      {
       
        display: none;
      }
      .softwares_head
      { 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        color: #FFFFFF;
        list-style-type: none;
        margin-bottom: 3%;
        }
        .softwarepic
        {
           width: 30%;
      }
        .software-list
        {
          margin-top: 1%;
        }
        .soft_points
      {
        margin-top: 4%;
        margin-left: 0%;
        font-size: 20px;
        font-family: 'Poppins';
        font-style: normal;
        color: #FFFFFF;
      }
      .contact-section
      {
        margin-top: 10%;
        background: rgba(0, 0, 0, 0.5);
      }
      .contact-head
      {
         margin-left: 4%;
      font-family: 'Leiko';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .phone
      {
          margin-top: 5%;
      }
      .links
      {
        margin-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .insta-links
      {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      color: #FFFFFF;
      }
      .m-btn
      {
          display: flex;
          align-items: center;
          justify-content: right;
          margin-right: 4%;
      }
      .mail-btn
      {
          font-family: 'Poppins';
        font-style: normal;
        width: 170px;
      height: 50px;
      font-size:15px ;
      color: #FFFFFF;
      margin-top: 3%;
      margin-bottom: 5%;
      background: #7900E0;
      box-shadow: 0 0 20px #7900E0;
      border-radius: 10px;
      border: transparent;
      }
      #progress
      {
       display: none;
      }
}
@media screen and (max-width: 470px){
    body
    {
     background-color: #000000;
    }
     nav{
         height: 6rem;
         width: 100vw;
         background: transparent;
         display: flex;
         z-index: 10;
         margin-top: -4%;
     }
     .hamburger{
         display:block;
         position: absolute;
         cursor: pointer;
         right: 65%;
         top: 47%;
         transform: translate(-5%, -50%);
         z-index: 2;
         transition: all 0.7s ease;
     }
     .burger-background
     {
         display:block;
         position: absolute;
         margin-top: 7%;
        margin-left: 88%;
         background: #7900E0;
         min-width: 10%;
         min-height: 6%;
         border-radius: 14px;
         box-shadow: 0 0 30px #7900E0;
     }
     
     .nav-links{
         position: fixed;
         background: #7900E0;
         height: 100vh;
         width: 100%;
         flex-direction: column;
         clip-path: circle(50px at 90% -20%);
         -webkit-clip-path: circle(50px at 90% -10%);
         transition: all 0.5s ease-out;
         pointer-events: none;
         margin-left: 0%;
         margin-top: 4%;
     }
     .nav-links.open{
         clip-path: circle(1000px at 90% -10%);
         -webkit-clip-path: circle(1000px at 90% -10%);
         pointer-events: all;
     }
     .nav-links li{
         opacity: 0;
     }
     .nav-links li:nth-child(1){
         transition: all 0.5s ease 0.2s;
     }
     .nav-links li:nth-child(2){
         transition: all 0.5s ease 0.4s;
     }
     .nav-links li:nth-child(3){
         transition: all 0.5s ease 0.6s;
     }
     .nav-links li:nth-child(4){
         transition: all 0.5s ease 0.7s;
     }
     .nav-links li:nth-child(5){
         transition: all 0.5s ease 0.8s;
     }
     .nav-links li:nth-child(6){
         transition: all 0.5s ease 0.9s;
         margin: 0;
     }
     .nav-links li:nth-child(7){
         transition: all 0.5s ease 1s;
         margin: 0;
     }
     li.fade{
         opacity: 1;
     }
     video {
         display: none;
       }
       .brand{
         font-style: normal;
         font-weight: 600;
         font-size: 22px;
         color: #FFFFFF;
         text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         font-family: 'Poppins';	
     }
       .abdul
       {
         margin-top: 3%;
         background: #FFFFFF;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
       display: flex;
       margin-left: 3.3%;
       font-family:  sans-serif;
       font-weight: 700;
       font-size: 40px;
       }
       .mannan
       {
         background: #FFFFFF;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
       display: flex;
       margin-left: 3.3%;
       font-family:  sans-serif;
       font-weight: 700;
       font-size: 40px;
       }
       .line
       {
       display: flex;
       margin-left: 3.3%;
       font-family: 'Poppins';
       font-style: normal;
       font-weight: 250;
       font-size: 13px;
       line-height: 38px;
       color: #FFFFFF;
 margin-top: 3%;
     }
       .line-v
       {
        
         display: flex;
       margin-left: 3.3%;
       font-family: 'Poppins';
       font-style: normal;
       font-weight: 250;
       font-size: 13px;
       line-height: 38px;
       color: #FFFFFF;
 margin-top: 0%;
     }
       .line span 
       {
         font-weight: 500;
       font-size: 13px;
       font-family: 'Poppins';
       font-style: normal;
       
       }
       .read
       {
       display: none;
       }
       
       .hirebtn
       {
         font-style: normal;
         font-family: 'Poppins';
         margin-left: 3.2%;
         width: 140px;
       height: 40px;
       font-size:17px ;
       color: #FFFFFF;
       margin-top: 0.5%;
       margin-bottom: 5%;
       background: #7900E0;
           border-radius: 9px;
       border: transparent;
       margin-top: 4%;
       font-weight: 500;
       }
     
       .portfolio
       {
         margin-bottom: 6%;
       }
       .portfolio-heading
       {
       text-align: center;
       font-family: 'Leiko';
       font-style: normal;
       font-weight: 500;
       font-size: 35px;
       color: #FFFFFF;
       line-height: 500%;
       margin-bottom: 1%;
       }
       .GraphicDesign
       {
         width: 50%;
         height: 50px;
       box-sizing: border-box;
       background: #7900E0;
       border: transparent;
       border-radius: 10px;
       font-family: 'Poppins';
       font-style: normal;
       font-size: 18px;
       line-height: 1px;
       font-weight: 500;
       color: white;
       margin-top: 8%;
     
     }
     
       .portfolioButtons
       {
         display: flex;
         align-items: center;
         justify-content:center;
         flex-direction: column;
       }
       .lineDesign
       {
         box-sizing: border-box;
         background: transparent
       }
       .sline
       {
       width: 200px;
       display: none;
       border: 2px solid #FFFFFF;
       transform: rotate(90.09deg);
       }
       .showcase
       {
         margin-bottom: 5%;
         
       }
       .designHeading
       {
         font-family: 'Leiko';
       font-style: normal;
       font-weight: 400;
       font-size: 50px;
       color: #050C22;
       }
       .image-container
       {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         transition: transform .4s;
         
       }
       .image-container:hover
       {
         transform: scale(1.1); 
       }
       .image
       {
         height: auto;
         width: 100%;
         overflow: hidden;
         cursor: pointer;
         
       }
       .image:hover
       {
         box-shadow: 0 0 30px #7900E0;
       }
       .image img
       {
         height: auto;
       width: 100%;
       border: 3px solid #2D0453;
       border-radius: 20px;
       object-fit: cover;
       }
       
       .popup-image
       {
         position: fixed;
         top: 0;;left: 0;
         background: rgba(0, 0, 0, .9);
         height: 100%;
         width: 100%;
         z-index: 100;
         display: none;
       }
       .popup-image span
       {
       position: absolute;
       top: 0;right: 10px;
       font-size: 60px;
       font-weight: bolder;
       color: #fff;
       cursor: pointer;
       z-index: 100;
       }
       .popup-image img
       {
         position: absolute;
         top: 50%; left: 50%;
         transform: translate(-50%,-50%);
         border: 5px solid #2D0453;
         border-radius: 5px;
         width: 300px;
         height: auto;
         object-fit: cover;
       }
       .viewbtn
       {
         display: flex;
         align-items: center;
         justify-content: center;
       }
       .viewMore
       {
         width: 140px;
         height: 40px;
         background: #7900E0;
         border-radius: 4px;
         border-color: transparent;
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 600;
         font-size: 15px;
         color: #FFFFFF;
       }
       
       .about
      {
       
        background: #2B2B2B;
        margin-top: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
border-radius: 10px;
        margin-bottom: 10%;
      }
      .passport-pic
      {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -13%;
      }
      .passport-pic img
      {
        -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
      width: 35%;
      
      }
      .about-heading
      {
        text-align: center;
        margin-top: 3%;
        font-family: 'Leiko';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        color: #FFFFFF;
      }
      .about-lines
      {
        display: none;
      }
      .phone-about-lines
      {
        display: block;
        text-align: center;
        margin-top: 3%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 1.5;
      margin-bottom: 15%;
      }
       .Expertise-sections
       {
       display: none;
       }
       .expertise-heading
       {
           text-align: center;
             font-family: 'Leiko';
             font-style: normal;
             font-weight: 350;
             font-size: 42px;
             color: #FFFFFF;
             line-height: 500%;
       }
       .expertise
       {
         display: flex;
       }
       .expertise-head
       {
         font-family: 'Poppins';
       font-style: normal;
       font-weight: 400;
       font-size: 30px;
       line-height: 54px;
       color: #FFFFFF;
         list-style-type: none;
         margin-left: -8%;
       }
       .list2
       {
         margin-top: -6%;
       }
       .expertise-list
       {
           margin-bottom: 30%;
       }
       .points
       {
           list-style-type: disc;
         margin-top: 4%;
         font-size: 18px;
         font-family: 'Poppins';
         font-style: normal;
       color: #FFFFFF;
       }
       .softwares
       {
         display: none;
       }
       .softwares_head
       { 
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 500;
         font-size: 32px;
         color: #FFFFFF;
         list-style-type: none;
         margin-bottom: 3%;
         }
         .softwarepic
         {
            width: 30%;
       }
         .software-list
         {
           margin-top: 1%;
         }
         .soft_points
       {
         margin-top: 4%;
         margin-left: 0%;
         font-size: 20px;
         font-family: 'Poppins';
         font-style: normal;
         color: #FFFFFF;
       }
       .contact-section
       {
         margin-top: 10%;
         background: rgba(0, 0, 0, 0.5);
       }
       .contact-head
       {
          margin-left: 4%;
       font-family: 'Leiko';
       font-style: normal;
       font-weight: 400;
       font-size: 40px;
       color: #FFFFFF;
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       }
       .phone
       {
           margin-top: 5%;
       }
       .links
       {
         margin-top: 4%;
         display: flex;
         align-items: center;
         justify-content: center;
       }
       .insta-links
       {
       font-family: 'Poppins';
       font-style: normal;
       font-weight: 300;
       font-size: 15px;
       color: #FFFFFF;
       }
       .m-btn
       {
           display: flex;
           align-items: center;
           justify-content: right;
           margin-right: 4%;
       }
       .mail-btn
       {
           font-family: 'Poppins';
         font-style: normal;
         width: 140px;
       height: 50px;
       font-size:14px ;
       font-weight: 500;
       color: #FFFFFF;
       margin-top: 3%;
       margin-bottom: 5%;
       background: #7900E0;
       box-shadow: 0 0 20px #7900E0;
       border-radius: 10px;
       border: transparent;
       }
       #progress
       {
        display: none;
       }
}

